<div class="container mt-5">
  <h2 class="title">{{data?.company_name}}</h2>
  <div class="content">
    <p>{{data?.address}}</p>
    <p>{{data?.telephone}}</p>
    <p>{{data?.description}}</p>
  </div>
</div>

<section class="product-filter-section">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-6">
          <p>Product</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let prod of data2" class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <a class="img-prod" routerLink="/product/{{ prod.id }}"
              ><img src="{{ prod?.image }}" class="img-fluid" alt=""
            /></a>

            <div class="pi-links">
              <button type="button" class="add-card" (click)="Cart(prod)">
                <i class="fa fa-shopping-bag"></i><span>ADD TO CART</span>
              </button>
            </div>
          </div>
          <div class="pi-text">
            <h6>{{ prod?.price_per_unit }}đ/{{ prod?.unit }}</h6>
            <a routerLink="/product/{{ prod.id }}">{{ prod?.name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

