<div class="container d-flex justify-content-center mt-5">
  <form [formGroup]="profileForm" (ngSubmit)="submit(profileForm)">
    <h2 class="form-title">PERSONAL INFORMATION</h2>
    <div class="form-group">
      <label class="pt-3">Full name</label><br>
      <input
        type="text"
        class="form-input"
        name="name"
        formControlName="name"
        value="{{data?.name}}"
      />
    </div>
    <div class="form-group">
      <label>Email</label><br>
      <input
        type="text"
        class="form-input"
        name="email"
        formControlName="email"
        value="{{data?.email}}"
      />
    </div>
    <div class="form-group">
      <label class="pt-3">Workplace</label><br>
      <input
        type="text"
        class="form-input"
        name="company_name"
        formControlName="company_name"
        value="{{data?.company_name}}"
      />
    </div>
    <div class="form-group">
      <label>Address</label><br>
      <input
        type="text"
        class="form-input"
        name="address"
        formControlName="address"
        value="{{data?.address}}"
      />
    </div>
    <div class="form-group">
      <label>Telephone number</label><br>
      <input
        type="text"
        class="form-input"
        name="telephone"
        formControlName="telephone"
        value="{{data?.telephone}}"
      />
    </div>
    <div class="form-group">
      <input
        type="submit"
        name="submit"
        id="submit"
        class="form-submit"
        value="UPDATE"
      />
    </div>
  </form>
</div>
