<div class="content">
  <form
    [formGroup]="productForm"
    (ngSubmit)="submit(productForm)"
    novalidate
  >
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Name of product</label>
        <input
          type="text"
          formControlName="name"
          class="form-control border-input"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Category</label><br>
        <select class="form-control border-input" formControlName="type">
          <option *ngFor="let type of data3" :value="{{type.id}}">{{type?.product_type}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Unit</label>
        <input
          type="text"
          formControlName="unit"
          class="form-control border-input"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Price per unit</label>
        <input
          type="text"
          formControlName="price_per_unit"
          class="form-control border-input"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>In stock</label>
        <input
          type="text"
          formControlName="in_stock"
          class="form-control border-input"
          placeholder=""
        />
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Verified by</label>
        <input
          type="text"
          formControlName="verify"
          class="form-control border-input"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Description</label>
        <input
          type="text"
          formControlName="description"
          class="form-control border-input"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Detail</label>
        <input
          type="text"
          formControlName="detail"
          class="form-control border-input"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Image</label>
        <input
          id="image"
          type="file"
          formControlName="image"
          accept="image/*"
          class="form-control border-input"
          (change)="fileChange($event)"
        />

      </div>
    </div>
  </div>
    <div class="text-center mb-5">
      <button type="submit" class="btn btn-success btn-fill btn-wd" [disabled]="productForm.invalid">CREATE</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>

