<div class="content container mt-5">
    <div *ngIf="!check">
        <h4 style="text-align: center" class="title">
          <strong>You have not requested any orders yet!</strong>
        </h4>
      </div>
  <div *ngIf="check">
    <div class="cart-table">
      <table class="table table-bordered table-hover">
        <thead class="thead">
          <tr>
            <th>No.</th>
            <th style="width: 30%">Name</th>
            <th>Provider</th>
            <th>Quantity</th>
            <th>Proposed price</th>
            <th>Date of receipt</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of data; let i=index">
            <td>{{i+1}}</td>
            <td style="white-space: pre-line">{{prod.product_order.name}}</td>
            <td>{{prod.provider}}</td>
            <td>{{prod.quantity}} {{prod.product_order.unit}}</td>
            <td>{{prod.proposed_price | number:''}}đ</td>
            <td>{{prod.datetime}}</td>
            <td>
              <span *ngIf="prod.status == 'Pending'">Pending</span>
              <span *ngIf="prod.status == 'Seen'" class="text-primary">Seen</span>
              <span *ngIf="prod.status == 'Accepted'" class="text-success">Accepted</span>
              <div *ngIf="prod.status == 'Declined'" class="text-danger" >Declined <br> <span style="color: black;">{{prod.refusal_reason?.reason}}</span></div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


