<section class="ftco-section ftco-no-pb ftco-no-pt mb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/bg-03.jpg);">
        </div>
        <div class="col-md-7 py-5 wrap-about pb-md-5">
          <div class="heading-section-bold mb-4 mt-md-5">
            <div class="ml-md-0">
              <h2 class="mb-4">PRIVACY POLICY</h2>
            </div>
          </div>
          <div class="pb-md-5 text-justify">
            <p>AgriGarden works to ensure your privacy is protected when using our services. We will therefore in this policy explain how your personal data will be processed and protected.</p>
            <p>AgriGarden collects data if you are a farmer or a distributor</p>
            <p>AgriGarden processes personal information mainly for the purposes stated below: </p>
            <ul>
              <li>To fulfill orders for services through one of the platforms offered by AgriGarden</li>
              <li>Ensure good customer service, for instance managing your requests, correcting incorrect information or sending information you requested</li>
              <li> For system administration and for obtaining statistical data about the behavior and patterns of our users, this is mostly done at an aggregated level</li>
            </ul>
            <p>You have rights when it comes to your personal data and you are able to control your information and what information is being stored by us. We will, on our own or your initiative, rectify data that is found to be incorrect. You can also at any time request to have your personal data deleted or object to its use by contacting us</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  