<div class="content">
  <div *ngIf="data != null" class="table-responsive-sm">
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>STT</th>
              <th>Khách hàng</th>
              <th>Tên sản phẩm</th>
              <th>Nhà cung cấp</th>
              <th>Nội dung phản hồi</th>
              <th>Ngày phản hồi</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let cmt of data ; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ cmt.user_cmt.name }}</td>
              <td>{{ cmt.product_cmt.name }}</td>
              <td>{{ cmt.provider }}</td>
              <td>{{ cmt.comment }}</td>
              <td>{{ cmt.created_at }}</td>
              <td>
                <a
                  (click)="remove(cmt.id)"
                  class="btn-action text-danger"
                  ><span class="fa fa-trash" aria-hidden="true"></span>
                </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
</div>



