<div class="limiter">
  <div class="container-login100" style="background-color: #666666;">
    <div class="wrap-login100">
      <form [formGroup]="emailForm" (ngSubmit) = "submit(emailForm)" class="login100-form validate-form">
        <span class="login100-form-title p-b-43">
          FORGOT YOUR PASSWORD?
        </span>

        <div
          class="wrap-input100 validate-input"
        >
          <input
            class="input100"
            type="text"
            name="email"
            placeholder="Enter email"
            formControlName="email"
            required
          />
          <span class="focus-input100"></span>
        </div>
        <label
        *ngIf="emailForm.controls['email'].invalid && emailForm.controls['email'].touched" class="text-danger">
        Email is required
        </label>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" [disabled]="emailForm.invalid">
            Send to email
          </button>
        </div>

      </form>

      <div
        class="login100-more"
        style="background-image: url('../../../../assets/images/bg-02.jpg');"
      ></div>
    </div>
  </div>
</div>

