<section class="ftco-section ftco-no-pb ftco-no-pt mb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/bg-03.jpg);">
        </div>
        <div class="col-md-7 py-5 wrap-about pb-md-5">
          <div class="heading-section-bold mb-4 mt-md-5">
            <div class="ml-md-0">
              <h2 class="mb-4">Returns &amp; Exchange</h2>
            </div>
          </div>
          <div class="pb-md-5 text-justify">
            <p>You may return your order (including items on sale) within 15 days after the parcel has arrived to the access point.
              We charge a return fee that will be deducted from your refund. 
              The product needs to be in its original condition with all labels attached</p>
            <p>A return cost will be applied on all returns and is deducted from your refund. Regardless if you send back multiple orders in one package, one return cost will be applied to every individual order. You will receive your refund via the same payment method used to make the purchase. 
              It may take up to 14 days from the day that you have returned your product until you will receive your refund. </p>
            <p>AgriGarden cannot administrate exchanges of items that are purchased from our website. 
              Return the ordered item by following the instructions above. 
              As soon as we have handled your return you will receive a refund via the same payment method used to make the purchase. 
              If you wish another products, please place a new order.</p>
            <p>Please contact our Customer Service team via <b>agrigardenteam@gmail.com</b> if you have any questions regarding your order with AgriGarden</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
