<div class="main signup-design">
  <section class="signup">
      <a class="back text-white" style="cursor: pointer; text-decoration: none;" [routerLink]="['/home']"
      >Back to home</a
    >
    <div class="container">
      <div class="signup-content">
        <form [formGroup]="registerForm" (ngSubmit) = "submit(registerForm)" id="signup-form" class="signup-form">
          <h2 class="form-title">REGISTER AS A AGRICULTURAL SUPPLIER</h2>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="username"
              id="username"
              placeholder="Username"
              formControlName="username"
              required
            />
          </div>
          <label
          *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched" class="text-danger">
          Username is required
          </label>

          <div class="form-group">
            <input
              type="password"
              class="form-input"
              name="password"
              id="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            <span
              toggle="#password"
              class="zmdi zmdi-eye field-icon toggle-password"
            ></span>
          </div>
          <label
          *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="text-danger">
          Password is required
          </label>

          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="name"
              id="name"
              placeholder="Full name"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="company_name"
              placeholder="Name of the farm"
              formControlName="company_name"
              required
            />
          </div>
          <label
          *ngIf="registerForm.controls['company_name'].invalid && registerForm.controls['company_name'].touched" class="text-danger">
          Workplace is required
          </label>
          <div class="form-group">
            <input
              type="email"
              class="form-input"
              name="email"
              id="email"
              placeholder="Email"
              formControlName="email"
              required
            />
          </div>
          <label
          *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="text-danger">
          Email is required
          </label>

          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="address"
              id="address"
              placeholder="Address"
              formControlName="address"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="telephone"
              id="telephone"
              placeholder="Telephone"
              formControlName="telephone"
            />
          </div>
          <div class="form-group">
            <input
              type="submit"
              name="submit"
              id="submit"
              class="form-submit"
              value="REGISTER NOW"
              [disabled]="registerForm.invalid"
            />
          </div>
        </form>
        <p class="loginhere">
          Have a account ?
          <a href="#" class="loginhere-link" [routerLink]="['/login']">Log in</a>
        </p>
      </div>
    </div>
  </section>
</div>
