.hero-wrap {
  width: 100%;
  position: relative;
}
.hero-wrap.hero-bread {
  padding: 10em 0;
}
.hero-wrap,
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
}
.text{
  position: absolute;
  margin-left: 12rem;
}
.text .maintext {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 80px;
}
.text .subtext {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
}
