<div class="content container mt-5">
    <div *ngIf="!check">
        <h4 style="text-align: center" class="title">
          <strong>YOU HAVE NOT BUYED ANY PRODUCTS!</strong>
        </h4>
    </div>
  <div *ngIf="check">
    <div class="cart-table">
      <table class="table table-bordered table-hover">
        <thead class="thead">
          <tr>
            <th>STT</th>
            <th style="width: 30%">Name</th>
            <th>Total price</th>
            <th>Order date</th>
            <th>Delivery address</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of data; let i=index">
            <td>{{i+1}}</td>
            <td style="white-space: pre-line">{{prod.products}}</td>
            <td>{{prod.totals}}đ</td>
            <td>{{prod.created_at}}</td>
            <td>{{prod.address}}<br>{{prod.telephone}}</td>
            <td>{{prod.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

