<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href=""
    [routerLink]="['/main']"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-seedling"></i>
    </div>
    <div class="sidebar-brand-text mx-3">AGRIGARDEN <sup>ADMIN</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="" [routerLink]="['/main']">
      <span>Dashboard</span></a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapsePages1"
      aria-expanded="true"
      aria-controls="collapsePages1"
    >
      <i class="fas fa-fw fa-folder"></i>
      <span>User</span>
    </a>
    <div
      id="collapsePages1"
      class="collapse"
      aria-labelledby="headingPages1"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">User Screens:</h6>
        <a class="collapse-item" [routerLink]="['/get-list-user']">Users</a>
        <a class="collapse-item" [routerLink]="['/get-list-supplier']">Suppliers</a>
        <a class="collapse-item" [routerLink]="['/get-list-distributor']">Distributors</a>
        <a class="collapse-item" [routerLink]="['/banned-user']">Banned users</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapsePages2"
        aria-expanded="true"
        aria-controls="collapsePages2"
      >
        <i class="fas fa-fw fa-folder"></i>
        <span>Products</span>
      </a>
      <div
        id="collapsePages2"
        class="collapse"
        aria-labelledby="headingPages2"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Product Screens:</h6>
          <a class="collapse-item" [routerLink]="['/get-list-product']">Products</a>
          <a class="collapse-item" [routerLink]="['/get-list-type']">Product categories</a>
        </div>
      </div>
    </li>

  <li class="nav-item">
    <a class="nav-link" href="" [routerLink]="['/get-history']">
      <span>Sales</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="" [routerLink]="['/get-list-order']">
      <span>Request</span></a
    >
  </li>
  <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapsePages3"
        aria-expanded="true"
        aria-controls="collapsePages3"
      >
        <i class="fas fa-fw fa-folder"></i>
        <span>Feedback</span>
      </a>
      <div
        id="collapsePages3"
        class="collapse"
        aria-labelledby="headingPages3"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Feedback Screens:</h6>
          <a class="collapse-item" [routerLink]="['/get-list-comment']">Comments</a>
          <a class="collapse-item" [routerLink]="['/get-list-reply']">Reply feedback</a>
        </div>
      </div>
    </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
</ul>
<!-- End of Sidebar -->
