<section class="ftco-section ftco-no-pb ftco-no-pt mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/bg-03.jpg);">
      </div>
      <div class="col-md-7 py-5 wrap-about pb-md-5">
        <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">SHIPPING INFORMATION</h2>
          </div>
        </div>
        <div class="pb-md-5 text-justify">
          <p>If an order is accepted and processed then this product is available in our distribution center and is available for shipping. AgriGarden ships to most destinations around Vietnam. 
          If you can select your address at checkout, we can deliver to you! 
          If your address can be entered please provide alternative address details.</p>
          <p>Orders, once processed, cannot be cancelled.</p>
          <p>You can expect to receive your products within 5-7 business days of dispatch.</p>
          <p>All orders on AgriGarden are free shipping</p>
          <p>We do not currently ship orders outside of Vietnam. However, international customers are encouraged to contact us with specific details of any special order request.</p>
          <p>Please contact our Customer Service team via <b>agrigardenteam@gmail.com</b> if you have any questions regarding your order with AgriGarden</p>
        </div>
      </div>
    </div>
  </div>
</section>
