<div class="limiter">
  <div class="container-login100" style="background-color: #666666;">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-43">
          EMAIL SEND SUCCESSFULLY!<br>
          PLEASE CHECK YOUR EMAIL FOR THE LINK TO CHANGE PASSWORD
        </span>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" [routerLink]="['/forgot-password']">
          <i class="fas fa-hand-point-left pr-3"></i> SEND ANOTHER EMAIL
          </button>
        </div>
      </form>

      <div
        class="login100-more"
        style="background-image: url('../../../../assets/images/bg-02.jpg');"
      ></div>
    </div>
  </div>
</div>

