<div class="content">
  <div class="table-responsive-sm">
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>No.</th>
              <th>Customer</th>
              <th>Name of product</th>
              <th>Supplier</th>
              <th>Total price</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let sale of data ; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ sale.name }}</td>
              <td><div *ngFor="let prod of sale.products">{{ prod.quantity }} {{prod.name}}</div></td>
              <td><div *ngFor="let prod of sale.products">{{ prod.provider }}</div></td>
              <td>{{ sale.totals | number:''}}đ</td>
              <td>{{ sale.status }}</td>
              <td *ngIf="sale.status === 'Pending'"><a
                (click)="changeStatus(sale.id)"
                class="btn-action text-primary" style="cursor: pointer;"
                ><span class="fa fa-truck" aria-hidden="true"></span>
              </a></td>
              <td *ngIf="sale.status === 'Successful delivery'">
              <span class="fa fa-check text-success"></span>
              </td>
          </tr>
      </tbody>
  </table>
</div>
</div>

