<div class="content">
  <div class="table-responsive-sm">
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>STT</th>
              <th>Customer</th>
              <th>Name of product</th>
              <th>Total price</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let sale of data ; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ sale.buyer }}</td>
              <td>{{sale.quantity}} {{ sale.product_name }} </td>
              <td>{{ sale.total }}đ</td>
              <td>{{ sale.status }}</td>
          </tr>
      </tbody>
  </table>
</div>

<div class="total-cost">
  <h6>
    Revenue <span>{{ sumTotal }}đ</span>
  </h6>
</div>
</div>

