<div class="content">
  <div *ngIf="!check">
    <h4 style="text-align: center" class="title">
      <strong>NO INFORMATION</strong>
    </h4>
  </div>
  <div *ngIf="check">
    <table class="table table-responsive-sm table-striped table-bordered">
      <thead>
        <tr>
          <th>STT</th>
          <th>Customer</th>
          <th>Name of product</th>
          <th>Total price</th>
          <th>Delivery Address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of data; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ sale.buyer }}</td>
          <td>{{ sale.quantity }} {{ sale.product_name }}</td>
          <td>{{ sale.total | number:''}}đ</td>
          <td>{{ sale.address }} <br> {{sale.telephone}}</td>
          <td>{{ sale.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="total-cost">
    <h6>
      Revenue <span>{{ sumTotal | number:''}}đ</span>
    </h6>
  </div>
</div>
