<div class="content">
  <h4>{{data.product_type}}</h4>
  <div *ngIf="data != null" class="table-responsive-sm">
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>No.</th>
              <th style="width: 10%;">Product</th>
              <th style="width: 10%;">Image</th>
              <th>Supplier</th>
              <th>Category</th>
              <th>Unit</th>
              <th>Price per unit</th>
              <th>In stock</th>
              <th>Verify</th>
              <th>Description</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of data2 ; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ data.name }}</td>
              <td><img src="{{data.image}}" class="img-fluid"/></td>
              <td>{{ data.provider?.company_name }}</td>
              <td>{{ data.typetype?.product_type }}</td>
              <td>{{ data.unit }}</td>
              <td>{{ data.price_per_unit }}đ</td>
              <td>{{ data.in_stock }}</td>
              <td>{{ data.verify }}</td>
              <td>{{ data.description }}</td>
              <td><a
                routerLink='/edit-product/{{data.id}}'
                class="btn-action text-primary" style="cursor: pointer;"
                ><span class="fa fa-edit" ></span>
              </a>  |
              <a
              (click)="remove(data.id)"
                class="btn-action text-danger" style="cursor: pointer;"
                ><span class="fa fa-trash" ></span>
              </a></td>
          </tr>
      </tbody>
  </table>
</div>
</div>


