<div class="content">
  <form
    [formGroup]="editcategoryForm"
    (ngSubmit)="submit(editcategoryForm)"
    novalidate
  >
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Name of category</label>
        <input
          type="text"
          formControlName="product_type"
          value="{{data?.product_type}}"
          class="form-control border-input"
          placeholder=""
        />
      </div>
    </div>
  </div>

    <div class="mb-5">
      <button type="submit" class="btn btn-primary btn-fill btn-wd" [disabled]="editcategoryForm.invalid">SAVE</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>



