<div class="content">
  <div *ngIf="data != null" class="table-responsive-sm">
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>STT</th>
              <th>Customer</th>
              <th>Product</th>
              <th>Supplier</th>
              <th>Quantity</th>
              <th>Proposed price</th>
              <th>Received date</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of data ; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ order.user_order.company_name }}</td>
              <td>{{ order.product_order.name }}</td>
              <td>{{ order.provider }}</td>
              <td>{{ order.quantity }}</td>
              <td>{{ order.proposed_price }}đ</td>
              <td>{{ order.datetime }}</td>
              <td>
                <span *ngIf="order.status == 'Accept'" class="text-success">Accept</span>
                <span *ngIf="order.status == 'Decline'" class="text-danger" >Decline</span>
                <span *ngIf="order.status == 'Seen'" class="text-primary">Seen</span>
              </td>
          </tr>
      </tbody>
  </table>
</div>
</div>



