<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 zoom img-hover-zoom img-hover-zoom-quickzoom">
        <img src="{{ data?.image }}" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 product-details pl-md-5">
        <h2>{{ data?.name }}</h2>
        <p class="provider">
          Cung cấp bởi: <span>{{ user?.company_name }}</span>
        </p>
        <p class="price font-weight-bold">
          <span>{{ data?.price_per_unit }}đ/{{ data?.unit }}</span>
        </p>
        <p>{{ data?.description }}</p>
        <p class="verify">
          Đã qua kiểm định chất lượng của <span
            class="verify font-weight-bold"
            >{{ data?.verify }}</span
          >
        </p>
        <div class="row">
          <div class="mr-2 ml-2">
            <p><button (click)="Cart(data)" class="btn btn-black py-3 px-5">Mua lẻ</button></p>
          </div>
          <div class="">
            <p><button href="" class="btn btn-black py-3 px-5" routerLink="/order/{{ data.id }}">Mua sỉ</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="detail-title">
      <h3>Thông tin chi tiết sản phẩm</h3>
    </div>
    <div class="detail-content pt-3">
      <p>{{ data?.detail }}</p>
    </div>
  </div>

  <div class=" container comment-form-wrap pt-5">
    <h3 class="mb-5">Đánh giá sản phẩm</h3>
    <form action="#" class="p-5 bg-light">
      <div class="form-group">
        <label for="message">Bình luận</label>
        <textarea
          name=""
          id="message"
          cols="30"
          rows="10"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group">
        <input
          type="submit"
          value="Đăng"
          class="btn py-3 px-4 btn-primary"
        />
      </div>
    </form>
  </div>
</section>

