<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 zoom img-hover-zoom img-hover-zoom-quickzoom">
        <!-- <div class="tag-new">New</div> -->
        <img src="{{ data?.image }}" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 product-details pl-md-5">
        <h2>{{ data?.name }}</h2>
        <p class="provider">
          Provided by:
          <span routerLink="/supplier/{{ user?.id }}">{{
            user?.company_name
          }}</span>
        </p>
        <p class="price font-weight-bold">
          <span>{{ data?.price_per_unit | number:''}}đ/{{ data?.unit }}</span>
        </p>
        <p>{{ data?.description }}</p>
        <p class="verify">
          Đã qua kiểm định chất lượng của
          <span class="verify font-weight-bold">{{ data?.verify }}</span>
        </p>
        <div *ngIf="data?.in_stock=== false">
          <p class="text-danger">
            This product is currently out of stock
          </p>
        </div>
        <div *ngIf="data?.in_stock=== true" class="row">
          <div class="mr-2 ml-2">
            <p>
              <button (click)="Cart(data)" class="btn btn-black py-3 px-5">
                Add to cart
              </button>
            </p>
          </div>
          <div class="">
            <p>
              <button
                href=""
                class="btn btn-black py-3 px-5"
                routerLink="/order/{{ data?.id }}"
              >
                Deal with supplier
              </button>
            </p>
          </div>
        </div>
        <div *ngIf="data?.in_stock=== false" class="row">
          <div class="mr-2 ml-2">
            <p>
              <button (click)="Waiting(data)" class="btn btn-black py-3 px-5">
                Add to waiting list
              </button>
            </p>
          </div>
        </div>
        <div *ngIf="data?.in_stock === true">
          <p><i>If you want to buy this product in bulk, please select the "Deal with supplier" button to fill out the order form.</i></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="detail-title">
      <h3>Detail information</h3>
    </div>
    <div class="detail-content pt-3">
      <p>{{ data?.detail }}</p>
    </div>
  </div>

  <div class=" container comment-form-wrap pt-5">
    <h3 class="mb-5">Product reviews</h3>
    <form
      [formGroup]="commentForm"
      (ngSubmit)="submit(commentForm)"
      class="p-5 bg-light"
    >
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea
          name="comment"
          id="comment"
          cols="30"
          rows="5"
          formControlName="comment"
          class="form-control"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <input
          type="submit"
          value="Post"
          class="btn py-3 px-4 btn-primary"
          [disabled]="commentForm.invalid"
        />
      </div>
    </form>

    <div *ngFor="let cmt of data2; let i = index" class="mt-3 p-3">
      <div class="row p-3" style="background: rgb(243, 245, 250);">
        <div class="col-md-3 usercmt">
          <i class="fa fa-user-circle"></i><br />
          <b>{{ cmt?.user_cmt.company_name }}</b>
          <p>{{ cmt?.created_at }}</p>
          <div *ngIf="readLocalStorageValue('id') == cmt?.user_id">
            <a
              (click)="remove(cmt?.id)"
              class="text-primary"
              style="cursor: pointer;"
              >Xoá</a
            >
          </div>
          <div>
            <a (click)="getReply(cmt?.id)" class="text-primary" style="cursor: pointer;">
              Replies ({{cmt.replies}})
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <p style="white-space: pre-line;">{{ cmt?.comment }}</p>
        </div>
      </div>
      <div *ngFor="let reply of data5">
        <div
          *ngIf="cmt.id === reply.cmt_id"
          class="row mt-3 ml-5 p-3"
          style="background: rgb(243, 245, 250);"
        >
          <div class="col-md-3 usercmt">
            <i class="fa fa-user-circle"></i><br />
            <b>{{ reply?.provider_reply.company_name }}</b>
            <p>{{ reply?.created_at }}</p>
          </div>
          <div class="col-md-3">
            <p style="white-space: pre-line;">{{ reply?.reply }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
