<section class="product-filter-section">
  <div class="container">
    <div class="mt-5">
    </div>
    <div *ngIf="!check"> <h4 style="text-align: center" class="title"><strong>NO PRODUCT NEED TO FIND</strong></h4></div>
    <div *ngIf="check">
      <div class="section-title">
        <p>Kết quả tìm kiếm:</p>
      </div>
      <div class="row">
        <div *ngFor="let prod of data" class="col-lg-3 col-sm-6">
          <div class="product-item">
            <div class="pi-pic">
              <a class="img-prod" routerLink="/product/{{ prod.id }}"
                ><img src="{{ prod?.image }}" class="img-fluid" alt=""
              /></a>
              <div class="pi-links">
                <button type= "button" class="add-card" (click)="Cart(prod)"
                  ><i class="fa fa-shopping-bag"></i><span>ADD TO CART</span></button
                >
              </div>
            </div>
            <div class="pi-text">
              <h6>{{ prod?.price_per_unit }}đ/{{ prod?.unit }}</h6>
              <a routerLink="/product/{{ prod.id }}">{{prod?.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
