<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{data.company_name}}</h1>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a>
      <div class="card card-stats bg-warning" [routerLink]="['/get-listproduct']">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-list"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers text-white">
                <p class="card-title">Products</p>
                <div class="result font-weight-bold">{{products}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <a>
      <div class="card card-stats bg-success " [routerLink]="['/get-listhistory']">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-industry"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers text-white">
                <p class="card-title">Sales</p>
                <div class="result font-weight-bold">{{ sales.count }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <a>
      <div class="card card-stats bg-info" [routerLink]="['/get-listorder']">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-handshake-o"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers text-white">
                <p class="card-title">Orders</p>
                <div class="result font-weight-bold">{{ requests.total }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <a>
      <div class="card card-stats bg-primary" [routerLink]="['/get-listcomment']">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-comment"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers text-white">
                <p class="card-title">Responses</p>
                <div class="result font-weight-bold">{{ responses }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-3 col-md-6 col-sm-6"></div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <a>
      <div class="card-stats bg-success ">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-money"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers text-white">
                <p class="card-title">
                  <span class="font-weight-bold"> {{ sales.revenue | number:''}}đ</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <a>
      <div class="card-stats bg-info">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers text-white">
                <p class="card-title">
                  <span class="font-weight-bold"> {{ requests.accepted }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-3 col-md-6 col-sm-6"></div>

  <div class="col-lg-3 col-md-6 col-sm-6"></div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <a>
      <div class="card-stats bg-info">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-money"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers text-white">
                <p class="card-title">
                  <span class="font-weight-bold"> {{ requests.revenue | number:''}}đ</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-3 col-md-6 col-sm-6"></div>

  <div class="col-lg-6">
    <a>
      <div class="card-stats bg-gradient-danger">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                  <i class="fa fa-hand-holding-usd"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers text-white">
                <p class="card-title">
                  <span class="font-weight-bold"> {{ total | number:''}} VND</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
