<section class="product-filter-section">
  <div class="container">
    <div class="section-title">
      <p>Trang chủ</p>
      /
      <p>Sản phẩm</p>
      /
    </div>
    <div class="row">
      <div *ngFor="let prod of data" class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <!-- <a class="img-prod" routerLink='/product/{{data.id}}'
                  ><img
                    src="./../../../assets/images/product-1.jpg"
                    class="img-fluid"
                    alt=""
                /></a> -->

            <a class="img-prod" routerLink="/product/{{ prod.id }}"
              ><img src="{{ prod?.image }}" class="img-fluid" alt=""></a>

            <!-- <img [src]=" data.image.data "> -->
            <!-- <div class="pi-links">
              <a href="#" class="add-card"
                ><i class="fa fa-shopping-bag"></i><span>ADD TO CART</span></a
              >
            </div> -->
            <button type="button" class="btn btn-outline-success" (click)="Cart(prod)"><b>Add to cart</b></button>
          </div>
          <div class="pi-text">
            <h6>{{ prod?.price_per_unit }}.000đ/{{ prod?.unit }}</h6>
            <a routerLink="/product/{{ prod.id }}">{{prod?.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

