<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/about_2.jpg);">
      </div>
      <div class="col-md-7 py-5 wrap-about pb-md-5">
        <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">Welcome to AGRIGARDEN Agricultural Distribution Support Website</h2>
          </div>
        </div>
        <div class="pb-md-5 text-justify">
          <p>AgriGarden desires to become one of the leading e-commerce websites on providing clean agricultural products, distributing fresh agricultural products, specialty agricultural products of all regions in the country.</p>
          <p>We always adhere to the principles of quality assurance and origin of food. At the same time, it is committed to customers that only sales of reputable manufacturers have been certified by the competent health agency to ensure food hygiene and safety.</p>
          <p>With the motto "Providing Safe Agricultural Products - Safety - Professional Services" AgriGarden ensures to meet the needs through professional supply system with the best price, best quality, fastest delivery time to our customers.</p>
        </div>
      </div>
    </div>
  </div>
</section>

