.ftco-section {
	padding-top: 6em;
	position: relative;
}
.billing-heading{
	font-size: 24px;
}
.form-group{
  position: relative;
}
.cart-detail{
	width:100%;
	display:block;
	border: 1px solid #82ae46;
	&.cart-total{
		border: 1px solid #82ae46;
	}
	.btn-primary{
		display: block;
		width: 100%;
	}
}
.cart-total{
	width: 100%;
	display: block;
	border: 1px solid #82ae46;
	padding: 20px;
	h3{
		font-size: 16px;
		margin-bottom: 20px;
	}
	p{
		width: 100%;
		display: block;
		span{
			display: block;
			width: 50%;
		}
		&.total-price{
			span{
				text-transform: uppercase;
				&:last-child{
					color: black;
					font-weight: 600;
				}
			}
		}
	}
	hr{
		background: rgba(255,255,255,.1);
	}
}
.confirm .btn {
  padding: 18px 47px 14px;
  width: 100%;
  border-radius: 50px;
  background: #82ae46;
  cursor: pointer;
  text-align: center;
}
.confirm b{
  color: #fff;
}
.cart-detail button{
  background: black;
}
.form-group {
  overflow: hidden;
  margin-bottom: 20px;
}
.form-title{
  color: #82ae46;
}
.form-input {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222;
}
.form-input::-webkit-input-placeholder {
  color: #999;
}
.form-input::-moz-placeholder {
  color: #999;
}
.form-input:-ms-input-placeholder {
  color: #999;
}
.form-input:-moz-placeholder {
  color: #999;
}
.form-input::-webkit-input-placeholder {
  font-weight: 500;
}
.form-input::-moz-placeholder {
  font-weight: 500;
}
.form-input:-ms-input-placeholder {
  font-weight: 500;
}
.form-input:-moz-placeholder {
  font-weight: 500;
}
.form-input:focus {
  border: 1px solid transparent;
  -webkit-border-image-source: -webkit-linear-gradient(
    to right,
    #82ae46,
    #74ebd5
  );
  -moz-border-image-source: -moz-linear-gradient(to right, #82ae46, #74ebd5);
  -o-border-image-source: -o-linear-gradient(to right, #82ae46, #74ebd5);
  border-image-source: linear-gradient(to right, #82ae46, #74ebd5);
  -webkit-border-image-slice: 1;
  border-image-slice: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.form-input:focus::-webkit-input-placeholder {
  color: #222;
}
.form-input:focus::-moz-placeholder {
  color: #222;
}
.form-input:focus:-ms-input-placeholder {
  color: #222;
}
.form-input:focus:-moz-placeholder {
  color: #222;
}
.form-submit {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background: #82ae46;
  // background-image: -moz-linear-gradient(to left, #74ebd5, #82ae46);
  // background-image: -ms-linear-gradient(to left, #74ebd5, #82ae46);
  // background-image: -o-linear-gradient(to left, #74ebd5, #82ae46);
  // background-image: -webkit-linear-gradient(to left, #74ebd5, #82ae46);
  // background-image: linear-gradient(to left, #74ebd5, #82ae46);
}
