<div class="content">
  <div *ngIf="!check">
    <h4 style="text-align: center" class="title">
      <strong>KHÔNG CÓ SẢN PHẨM CẦN TÌM</strong>
    </h4>
  </div>
  <div *ngIf="check">
    <div class="table-responsive-sm">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Nơi cung cấp</th>
            <th>Loại</th>
            <th>Đơn vị</th>
            <th>Giá/đơn vị</th>
            <th>Trong kho</th>
            <th>Kiểm định</th>
            <th>Mô tả</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.provider?.company_name }}</td>
            <td>{{ data.typetype?.product_type }}</td>
            <td>{{ data.unit }}</td>
            <td>{{ data.price_per_unit }}đ</td>
            <td>{{ data.in_stock }}</td>
            <td>{{ data.verify }}</td>
            <td>{{ data.description }}</td>
            <td>
              <a
                routerLink="/edit-product/{{ data.id }}"
                class="btn-action text-primary"
                style="cursor: pointer;"
                ><span class="fa fa-edit"></span>
              </a>
              |
              <a (click)="remove(data.id)" class="btn-action text-danger" style="cursor: pointer;"
                ><span class="fa fa-trash"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
