<div class="content">
  <form
    [formGroup]="editproductForm"
    (ngSubmit)="submit(editproductForm)"
    novalidate
  >
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Name of product</label>
          <input
            type="text"
            formControlName="name"
            value="{{data?.name}}"
            class="form-control border-input"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Category</label>
          <!-- <input
            type="text"
            formControlName="type"
            value="{{type?.product_type}}"
            class="form-control border-input"
          /> -->
          <select class="form-control border-input" formControlName="type" [(ngModel)]="type">
            <option *ngFor="let type1 of data3" value="{{type1?.id}}">{{type1.product_type}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Unit</label>
          <input
            type="text"
            formControlName="unit"
            value="{{data?.unit}}"
            class="form-control border-input"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Price per unit</label>
          <input
            type="text"
            formControlName="price_per_unit"
            value="{{data?.price_per_unit}}"
            class="form-control border-input"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>In stock</label>
          <!-- <input
            type="text"
            formControlName="in_stock"
            value="{{data?.in_stock}}"
            class="form-control border-input"
          /> -->
          <select class="form-control border-input" formControlName="in_stock" [(ngModel)]="stock">
            <option *ngFor="let choice of [{'choice': true, 'name': 'Còn hàng'}, {'choice': false, 'name': 'Hết hàng'}]" value="{{choice.choice}}" >{{choice.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Verify</label>
          <input
            type="text"
            formControlName="verify"
            value="{{data?.verify}}"
            class="form-control border-input"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Description</label>
          <input
            type="text"
            formControlName="description"
            value="{{data?.description}}"
            class="form-control border-input"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Detail</label>
          <input
            type="text"
            formControlName="detail"
            value="{{data?.detail}}"
            class="form-control border-input"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Image</label>
          <input
            id="image"
            type="file"
            formControlName="image"
            accept="image/*"
            class="form-control border-input"
            (change)="fileChange($event)"
          />

        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-fill btn-wd" [disabled]="editproductForm.invalid">SAVE</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>

