<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/bg_3.jpg);">
      </div>
      <div class="col-md-6 wrap-about py-md-5 ftco-animate">
        <div class="heading-section p-md-5">
          <h2 class="mb-4">Tại sao hiện nay hợp tác mua bán nông sản được coi là xu hướng mới?</h2>

          <p class="text-justify">Hiện nay, nền nông nghiệp của Việt Nam đang gặp rất nhiều khó khăn trong việc tìm đầu ra sản phẩm nông nghiệp. Bài toán được mùa mất giá trở thành vấn đề nhức nhối của người nông dân.</p>
          <p class="text-justify">Vậy nên, mối quan ngại của mọi người hiện nay đó chính là vấn đề an toàn vệ sinh thực phẩm, giá thành của rau, củ, quả đang ngày leo thang làm người tiêu dùng phải đau đầu mỗi khi đi chợ. Vậy để giải quyết được vấn đề đó nhiều chủ đầu tư đã thành lập nên các công ty chuyên là đại lý thu mua nông sản để cung cấp những sản phẩm tươi ngon đến mọi người đồng thời cũng giúp người nông dân bớt bị thất thu vụ mùa hơn.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pb mb-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/farmer.jpg);">
      </div>
      <div class="col-md-6 wrap-about py-md-5 ftco-animate">
        <div class="heading-section p-md-5">
          <h2 class="mb-4">Tại sao nên chọn AgriGarden?</h2>

          <p class="text-justify"><b>AgriGarden</b> là một trong những website cung cấp thực phẩm sạch uy tín được nhiều khách hàng tin tưởng. Để giải quyết vấn đề đầu ra sản phẩm nông nghiệp cho người dân, công ty thu mua nông sản xuất khẩu, <b>AgriGarden</b> cần hợp tác mua bán nông sản với các hộ nông dân để đưa ngành nông nghiệp Việt Nam ra thị trường quốc tế, nâng cao chất lượng nông sản Việt Nam.</p>
          <p class="text-justify">Bạn là người muốn cung cấp nông sản sạch thì <b>AgriGarden</b> luôn sẵn sàng là nhà phân phối sản phẩm nông nghiệp sạch của bạn đến tận tay người tiêu dùng. Cam kết thu mua nông sản đúng chất lượng và giá cả tốt nhất thị trường.</p>
        </div>
      </div>
    </div>
  </div>
</section>

