.ftco-section {
  padding: 6em 0;
  position: relative;
}
@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}
.ftco-no-pb {
  padding-bottom: 0;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
img {
  vertical-align: middle;
  border-style: none;
}
img {
  page-break-inside: avoid;
}
@media (max-width: 767.98px) {
  .img-2 {
    height: 600px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .wrap-about .heading-section {
    margin-left: -120px;
    background: #fff;
    -webkit-box-shadow: -20px 5px 14px -15px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: -20px 5px 14px -15px rgba(0, 0, 0, 0.13);
    box-shadow: -20px 5px 14px -15px rgba(0, 0, 0, 0.13);
  }
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.heading-section h2 {
  font-size: 40px;
  font-weight: 600;
  color: #82ae46;
}
@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 28px;
  }
}
