<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/bg_3.jpg);">
      </div>
      <div class="col-md-6 wrap-about py-md-5 ftco-animate">
        <div class="heading-section p-md-5">
          <h2 class="mb-4">Why is cooperation in trading agricultural products considered a new trend?</h2>

          <p class="text-justify">Currently, Vietnam's agriculture is facing many difficulties in finding output of agricultural products. The problem of devaluation season becomes a difficult problem for farmers.</p>
          <p class="text-justify">So, the concern of people today is the issue of food safety and hygiene, the price of vegetables is escalating making consumers have a headache every time they go to the market. So to solve that problem, many investors have set up companies specializing in agricultural purchasing agents to provide fresh products to everyone while also helping farmers reduce losses.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pb mb-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/farmer.jpg);">
      </div>
      <div class="col-md-6 wrap-about py-md-5 ftco-animate">
        <div class="heading-section p-md-5">
          <h2 class="mb-4">Why choose AgriGarden?</h2>

          <p class="text-justify"><b>AgriGarden</b> is one of the reputable clean food supply websites trusted by many customers. In order to solve the problem of the output of agricultural products for people, the company that purchases agricultural products for export, <b> AgriGarden </b> needs to cooperate in buying and selling agricultural products with farmers to bring Vietnamese agriculture to the international market, improving the quality of Vietnamese agricultural products.</p>
          <p class="text-justify">If you want to provide clean agricultural products, <b> AgriGarden </b> is always ready to be the distributor of your clean agricultural products to consumers. Commitment to purchase the right quality agricultural products and the best price in the market.</p>
        </div>
      </div>
    </div>
  </div>
</section>

