
.error {
  color: #5a5c69;
  font-size: 7rem;
  position: relative;
  line-height: 1;
  width: 12.5rem;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.text-gray-800 {
  color: #5a5c69 !important;
}
.text-gray-500 {
  color: #b7b9cc !important;
}
.text-center {
  text-align: center !important;
}
