.cart-table .quy-col {
	padding-right: 20px;
}
.cart-table .quantity {
	margin-bottom: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cart-table .quantity .pro-qty {
	width: 80px;
	background: #fff;
	border-color: #fff;
}

.cart-table .quantity .pro-qty .qtybtn {
	width: 10px;
}
.cart-table .quy-col {
  padding-right: 0;
  width: 70px;
}
.cart-table .quy-col {
  width: 80px;
}
.quantity .pro-qty input {
	width: 28px;
	float: left;
	border: none;
	height: 36px;
	line-height: 40px;
	padding: 0;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
}
.quantity .pro-qty {
	width: 94px;
	height: 36px;
	border: 1px solid #ddd;
	padding: 0 15px;
	border-radius: 40px;
	float: left;
}
.quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 40px;
}
.quantity .pro-qty .qtybtn {
	width: 15px;
	display: block;
	float: left;
	line-height: 36px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	color: #404040;
}


.total-cost {
  background: #82ae46;
  // margin: 0 -34px;
  text-align: right;
  padding: 22px 0;
  padding-right: 50px;
}

.total-cost h6 {
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.total-cost h6 span {
  margin-left: 38px;
}
.confirm .btn {
  padding: 18px 47px 14px;
  width: 100%;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
  text-align: center;
}
.confirm b{
  color: #fff;
}

.img-fluid {
  max-width: 25%;
  height: auto;
}
.btn-del {
  background-color: #fb3f4b;
}
.btn-action {
  width: 20px;
  height: 20px;
  color: #fff;
  outline: none;
  border-radius: 50%;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 20px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}
.btn-action:focus {
  outline: none;
}
.cart-table .table thead{
  background: #82ae46;
  color: #ffffff;
}
